<footer class="footer text-center text-sm-start" style="padding: 16px;position: absolute;">
  <div class="boxed-footer">© <script>
      document.write(new Date().getFullYear())
  </script>
    <span class="text-muted d-none d-sm-inline-block float-end"><%= @config[:sessions][:title] %></span>
  </div>
</footer>